{% extends 'layouts/base.html' %}
{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil facere, voluptatem sit fugiat minima totam perferendis dolor ducimus odit possimus omnis, amet, ex ullam commodi accusantium eligendi dicta. Voluptatum consequatur alias harum. Quasi nemo sapiente vero, unde iure deserunt sunt aliquam ea. Quae exercitationem consequatur tenetur sequi animi quam esse, quos mollitia laudantium culpa? Illum quisquam exercitationem minus officia nemo, ratione, dolores iusto in laboriosam velit quasi. Voluptatem minima ipsum, unde eos veniam iste soluta sunt odit natus, quod maxime, hic assumenda mollitia voluptates totam doloribus molestias libero aliquid obcaecati. Itaque minima ab, voluptates iste quae delectus accusantium ducimus corporis.</p>


<p>Website created by {{ username }}</p>

{% endblock %}