body{
    background: #000209;
    color: whitesmoke;
    
}

.navbar{
    background: #000215;
    padding: 10px 10px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    text-decoration: none;
    list-style: none;
}


.navbar ul li a {
    color: white;
    text-decoration: none;
}


.navbar ul li a:hover {
    color: #404040;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}